<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h3>
        Liste des clients
    </h3>

    <table border="1">
        <!-- fixe -->
        <tr>

            <th>Nom</th>
            <th>Prenom</th>
            <th>Delete</th>
        </tr>

        <%  for(var i=0; i < users.length ; i++){  %>

        <tr>

         
            <td> <%= users[i].nom %> </td>
            <td> <%= users[i].prenom %> </td>
            <td>
                <form action="/users/delete" method="post">
                    <input hidden type="text" name="id" value="<%= users[i].id %>">
                    <input type="submit" value="Delete">
                </form>
            </td>


        </tr>

        <% } %>

    </table>



    <!-- separation           -->
    <hr>

    <h3>
        Formulaire d'insertion
    </h3>


    <form action="/users" method="POST">
        Nom:<br>
        <input type="text" name="nom">
        <br>
        Prenom:<br>
        <input type="text" name="prenom">
        <br><br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>